<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Desafio Entregable - Lozano</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css" />
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
  </head>
  <body>
    {{{body}}}

    <script src="/socket.io/socket.io.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/realTimeProducts.js"></script>

  </body>
</html>